<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Brain Tumor Classifier</title>
  </head>
  <body>
    <h1>Brain Tumor Classifier</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept=".jpg, .png, .jpeg" required />
      <button type="submit">Upload & Classify</button>
    </form>
    <div id="result"></div>
    <div id="image-container">
      <img id="uploaded-image" src="" alt="Uploaded Image" />
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
